*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(185, 185, 185);
}
h1{
    font-size: 30px;
    text-shadow: 0.1em 0.1em 0.2em black;
}
header{

    display: flex;
    flex-direction: column;
     background-color: rgb(113, 133, 207);
     width:100vw;
}

.logo{
    display: none;
    width: 20vw;
    height: 20vh;
    
}
.titulo {
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 10px;
    color: whitesmoke;
    width:100%;
}
.encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    padding: 15PX;
    width: 40%;
    border-bottom: 2px solid white;
}

.btn_menu a{
    color:rgb(247, 253, 247);
    text-decoration: none;
    
}

.menu {
    border-bottom: 2px solid white;
    border-radius: 10px;
    width: 100%;
    display: flex;
    background-color: rgb(20, 4, 57); 
    margin-bottom: 6px;
}

ul.navigation {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
    flex-direction: column;
}
.dosColumnas{
    display: inline-block;
    margin-top: 25px;
   
}
    /* si tiene tambien la clase show */
    ul.navigation.show {
        display: flex;
    }

ul.navigation li {
    list-style: none;
    margin:0px;
    padding:15px 20px; 
    border-radius: 10px;
    border-bottom: 2px solid rgb(184, 184, 184);
    
}

ul.navigation li a {
    text-decoration: none;
    color: white;
}

ul.navigation li:hover {
    background-color: rgb(30, 16, 160);
    border-radius:10px ; 
    box-shadow:0 5px 5px 2px rgb(247, 245, 245);
}
footer{
    background-color: rgb(113, 133, 207);
    text-align: center;
    color: white;
   padding: 5px;
   margin-top: 10px;
}
.colorear{
    background-color: rgb(113, 133, 207);
}
footer span img{
    max-width:20px;
    max-height:20px;
}
.imgArticle{  /*imagenes del index*/
    width: 99%;
    border: 10px;
    padding: 0px;
    height: auto;
    image-orientation: center;
    border-style: ridge;
    border-radius: 6px;
    border: #7145e9;
} 
.link-2 a{
    text-decoration: none;
    margin-top: -20px;
}
/*sección article del home*/
article{
    background-color: rgb(164, 175, 218);
    display: grid;
    border: solid rgb(75, 75, 162);
   
   justify-content: center;
   width: 350px;
   border-radius: 6px;
}
.container2{
    width: auto;
    border: 10px;
    padding: 1px;
    height: 30%;
    image-orientation: center;
    border-style: ridge;
    border-radius: 6px;
  

}
.formulario{
    background-color: #f5e531;
    width:auto;
    height: auto;
    margin: auto;
    margin-top: 10px;
    font-size: 19px;
    font-family: monospace;
    text-align: center;
}
#uno,#dos{
    width: 80px;
    height: 15px;
}
#valor{
    font-size: 20px;   
}
#cotizador{
    font-size: 20px;
    border-radius: 12px;
    background-color: #0016b0;
    color: white;
}


.container-dolar{
    background-color: #f5e531;
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anuncios{
    width: 100%;
    height: 150px;
    margin-top: 40px;
}
#reloj{
    width: 100%;
    border: 10px;
    padding: 1px;
    height: 30%;
    image-orientation: center;
    border-style: ridge;
    border-radius: 6px;
}
.digital{
    font-family: "DS-Digital";    
    background-color: black;
    font-size:50px;
    color: green ; 
    text-align: center;
   
}
#fecha{
    width: 100%;
    border: 10px;
    padding: 1px;
    height: 30%;
    image-orientation: center;
    border-style: ridge;
    border-radius: 6px;
}
.digitalizado{
    font-family: "DS-Digital"; 
    width: 350px; 
    background-color: black;
    font-size:25px;
    color: green ; 
    text-align: center;
   
}
.digitalizado2{
    font-family: "DS-Digital";
    background-color: black;
    color: rgb(193, 230, 32) ;
}
#fecha2{
    width: 50%;
    border: 10px;
    padding: 1px;
    height: 30%;
    image-orientation: center;
    border-style: ridge;
    border-radius: 6px;
    display: flex;
}
.imagDeporte{
    width:min-content;
        border: 10px;
        padding: 0px;
        height: auto;
        image-orientation: center;
        border-style: ridge;
        border-radius: 6px;
        border: #7145e9;
}

.textoDeporte{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 50px;
    width: 90%;
    margin-bottom: 5px;
    font-size: smaller;
}
.deportes{
    background-color:rgb(90, 110, 190);
    width: 400px;  
    margin-top: 03px;
    margin-left: 40px;
    display: block;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid rgb(36, 5, 160);
    margin: 5px;
}
.form-campeon {
    background-color:rgb(164, 175, 218);
    width: auto;  
    margin-top: auto;
    margin-left: auto; 
    display: block;
    border-radius: 10px;
    text-decoration: none;
    text-size-adjust: 0.5rem;
}
h2{ 
    color:rgb(15, 2, 39);
    padding: 20px;
    text-shadow: 0.1em 0.1em 0.2em rgb(191, 228, 191);
    text-align: center;
    font-size: large;

}
h4{
    font-size: medium;
}
/*tabla*/
.pintar1{
    background-color: rgb(8, 181, 8);  
    width: max-content;
    text-align: center;
    font-size: smaller;
}

.pintar2{
    background-color: #f5e531;
    width: max-content;
    font-size: smaller;
}
.pintar3{
    background-color: #4f604f;
    width: max-content;
    font-size: smaller;
}
th{
    background-color: #4f604f;
    color: white;
}
tfoot{
    background-color: antiquewhite;
    color: black;
    text-align: center;
    
}
.main{
    display: grid;
}
table,td,tr{
     border: 1px solid black;
     border-collapse: collapse;
     font-size: small;
     font-family: Arial, Helvetica, sans-serif;
     
}

aside{
    display: inline-block;
    width: 350px;
    background:rgb(90, 110, 190);
    text-align: justify;
    margin: 1rem;
   height: 550px;
   margin-top: 0.5rem;
   border-radius: 10px;
}
/*seccion registro*/
.derecha{
     text-align: left;
     margin-left: 5px;
} 
.sectionform-register {
    background-color: rgb(90, 110, 190);
    padding: 5px;
    display:inline-flex;
    flex-direction: column;
}
.form-register {
    background-color:rgb(90, 110, 190);
    font-size: smaller; 
}
.select{
    text-align:left;   
}
/*seccionsucursales*/

.map > iframe{
    margin: 0.1rem;
    width: 220px;
     margin-top: 03px;
     
 }
 
 .sucursales{
     background-color:rgb(198, 206, 238);
     width: 450px;
     display: inline;
     display: block;
     border-radius: 10px;
     display: flex;
     margin-top: 25px;
     font-display: inline-block;
     font-size: smaller;
     
 }
 
    .visita{
        display: center;
         width: 400px;
         height: min-content;
    }
 
@media screen and (min-width: 660px){

    /* en desktop ocultamos siempre el boton del menu */
    .btn_menu {
       display: none;
    }
   

   /* cambiamos la direccion del flex */
    ul.navigation {
        display: flex;
        flex-direction: row;
        
    }
     ul.navigation li {
        border-radius:0px;
        border-bottom: 0px;
     }
    body{
        padding-top: 200px;
    }
    
    h1{
        font-size: 50px;
    }
    header{
        flex-direction: column;
       position: fixed;
       top: 0
            
        
    }
    .logo{
        display: block;
        width: auto;
        height: auto;
        border-radius: 10px;
    }
    .indicador{
    background-color: rgb(33, 7, 104);
    border-radius:10px ; 
    box-shadow:0 5px 5px 2px rgb(247, 245, 245);
    }
    h2,h3{
        color:rgb(15, 2, 39);
        padding: 20px;
        text-shadow: 0.1em 0.1em 0.2em rgb(191, 228, 191);
        text-align: center;
        font-size: xx-large;
    }
    p{
        margin: 5px 20px 5px 20px ;
        color:rgb(16, 15, 15); 
    }
    /*seccion index*/
    .imgArticle{  /*imagenes del index*/
        width: 99%;
        border: 10px;
        padding: 0px;
        height: auto;
        image-orientation: center;
        border-style: ridge;
        border-radius: 6px;
        border: #7145e9;
    } 
    .link-2 a{
        text-decoration: none;
        margin-top: -20px;
    }
    /*sección article del home*/
    article{
        background-color: rgb(164, 175, 218);
        display: grid;
        border: solid rgb(75, 75, 162);
        margin: 20px;
       justify-content: center;
       width: 500px;
       border-radius: 6px;
    }
    
    
    .dosColumnas{
        display: flex;
        margin-top: 25px;
       
    }
    footer{
        background-color: rgb(113, 133, 207);
        text-align: center;
        color: white;
       padding: 5px;
       margin-top: 10px;
    }
    
    footer span img{
        max-width:20px;
        max-height:20px;
    }
    /*Seccion politica*/
.container2{
    width: 100%;
   
    image-orientation: center;
    border-style: ridge;
    border-radius: 6px;
}
.formulario{
    background-color: #f5e531;
    width:350px;
    height: 200px;
    margin: 20px;
    margin-top: 5px;
    font-size: 19px;
    font-family: monospace;
    text-align: center;
}
#uno,#dos{
    width: 80px;
    height: 15px;
}
#valor{
    font-size: 20px;   
}
#cotizador{
    font-size: 20px;
    border-radius: 12px;
    background-color: #0016b0;
    color: white;
}
#reloj{
    width: 100%;
    border: 10px;
    padding: 1px;
    height: 30%;
    image-orientation: center;
    border-style: ridge;
    border-radius: 6px;
}
.digital{
    font-family: "DS-Digital"; 
    width: 350px; 
    background-color: black;
    font-size:50px;
    color: green ; 
    text-align: center;
   
}
#fecha{
    width: 100%;
    border: 10px;
    padding: 1px;
    height: 30%;
    image-orientation: center;
    border-style: ridge;
    border-radius: 6px;
}.digitalizado{
    font-family: "DS-Digital"; 
    width: 350px; 
    background-color: black;
    font-size:30px;
    color: green ; 
    text-align: center;
   
}
.digitalizado2{
    background-color: black;
    color: rgb(193, 230, 32) ;
}
#fecha2{
    width: 50%;
    border: 10px;
    padding: 1px;
    height: 30%;
    image-orientation: center;
    border-style: ridge;
    border-radius: 6px;
    display: flex;
}
.container-dolar{
    background-color: #f5e531;
    margin: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.anuncios{
    width: 100%;
    height: 150px;
    margin-top: 40px;
}
/* secciondeporte*/


.imagDeporte{
    max-width: fit-content;
    max-height: fit-content;
    float: left;
    margin: 10px;
    margin-top: 10px;
    width: min-content;
}

.textoDeporte{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 50px;
    width: 90%;
    margin-bottom: 5px;
}
.deportes{
    background-color:rgb(90, 110, 190);
    width: 900px;  
    margin-top: 03px;
    margin-left: 40px;
    display: block;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid rgb(36, 5, 160);
}
.form-campeon {
    background-color:rgb(164, 175, 218);
    width: 900px;  
    margin-top: 10px;
    margin-left: 40px; 
    display: block;
    border-radius: 10px;
    text-decoration: none;
}

/*tabla*/
.pintar1{
    background-color: rgb(8, 181, 8);  
    width: max-content;
    text-align: center;
}

.pintar2{
    background-color: #f5e531;
    width: max-content;
}
.pintar3{
    background-color: #4f604f;
    width: max-content;
}
th{
    background-color: #4f604f;
    color: white;
}
tfoot{
    background-color: antiquewhite;
    color: black;
    text-align: center;
    
}
.main{
    display: grid;
}
table,td,tr{
     border: 1px solid black;
     border-collapse: collapse;
     padding: 8px 10px;font-family: Arial, Helvetica, sans-serif;
     
}
table{
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 30px;
}
aside{
    display: inline-block;
    width: 350px;
    background:rgb(90, 110, 190);
    text-align: justify;
    margin: 1rem;
   height: 600px;
   margin-top: 0.5rem;
   border-radius: 10px;
}
/*seccion registro*/
.form-register {
    background-color:rgb(90, 110, 190);
    width: 900px;  
    margin: 20px;
    display: block;
    height: 550px;
    font-size: small;
    margin-bottom: 20px;
    text-align: center;
    
}
.derecha{
     text-align: left;
     margin-left: 35px;
} 
.sectionform-register {
    background-color: rgb(90, 110, 190);
    padding: 10px;
    display:inline-flex;
    flex-direction: column;
}
.select{
    text-align:left;
    
}

.boton{
    text-align:left;
    margin-left: 1.2em;
   
}
.fcc-btn {
    background-color: white;
    color:black;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid black;
  }
  /*seccionsucursales*/


.map > iframe{
   margin: 0.1rem;
   width: 220px;
    margin-top: 03px;
    
}

.sucursales{
    background-color:rgb(90, 110, 190);
    width: 900px;
    margin-top: 03px;
    display: inline;
    display: block;
    border-radius: 10px;
    display: flex;
    margin-top: 25px;
}
/*seccionsucursales*/


.map > iframe{
   margin: 0.1rem;
   width: 220px;
    margin-top: 03px;
    
}

.sucursales{
    background-color:rgb(198, 206, 238);
    width: 900px;
    margin-top: 03px;
    display: inline;
    display: block;
    border-radius: 10px;
    display: flex;
    margin-top: 25px;
    font-size: large;
}
.visita{
    display: center;
    margin-top: 25px;
     
}
/*seccionespectaculo*/
.Imgesp{
    width: 99%;
    
    height: auto;
    image-orientation: center;
    border-style: ridge;
    border-radius: 6px;
    border: #7145e9;
 }
.container{
    background-color: rgb(164, 175, 218);
    display: grid;     
   justify-content: center;
   width: 350px;
   border-radius: 6px;
   margin: auto;  
}

.imagen-espect{
    display: center;
    margin-left: 50px;  
}
.dos-columnas{    
    display: flex;
    margin-top: 25px;
    
}
}